
    <div *ngFor="let item of carts">
        <div class="container p-6 mx-auto">
            <div class="">
                <div class="p-10 shadow rounded shadow-slate-400 h-max">
                    <div class="md:grid md:grid-cols-2 text-center flex flex-col">
                        <div class="h-auto w-auto m-auto">
                            <img width="150px" height="150px" src={{item?.image}} alt="">
                        </div>
               
                        <div>
                            <h1>{{item?.name}}</h1>
                            <br>
                            <br>
                            <div class="break-words container p-6 mx-auto">
                                <h1 class="text-xl font-bold">Description:</h1>
                                <h1>{{item?.description}}</h1>
                            </div>
                            <h1>Price: {{item?.price}}</h1>
                            <h1>Quantity: {{item?.quantity }}</h1>
                            <button  class="mt-7 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" (click)="increase(item.id)" [disabled]="item.quantity===20">+</button>
                            <button  class="ml-5 mt-7 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" [disabled]="item.quantity===1" (click)="decrease(item.id)">-</button>
                            <h1 class="text-3xl font-bold">Subtotal: {{item.subtotal | number}}</h1>
                        </div>
                        
                    </div>
                    <br>
                    <button (click)="deleteItem(item.id)" class=" bg-transparent hover:bg-red-400 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
                        Delete
                      </button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="p-6 mx-auto container">
        <div class="grid grid-cols-1 bg-slate-300 justify-items-end">
            <div class="">
                
                <h1 class="font-bold md:text-2xl text-xl">Total: ${{total | number}}</h1>
            </div>
        </div>
    </div>
